body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

p {
    padding: 20px;
    font-weight: 600;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.poster {
    height: auto;
    width: 400px;
    padding: 50px;
}